<!-----RECENT JOB SECTION RECENT JOB SECTION RECENT JOB SECTION ----->
<!-----META SECTION----->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search Job</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="width-100 recent-job">
      <div class="container">
        <h2 class="recent-job-heading">RECENT JOB</h2>
        <p class="recent-job-sub-heading">Get the list of all recent jobs</p>
        <!-----JOB LIST----->
        <app-job-item
          *ngFor="let job of jobs"
          [jobName]="job.jobName"
          [salary]="job.salary"
          [jobType]="job.jobType"
          [jobDescription]="job.jobDescription"
          [jobVaccancy]="job.jobVaccancy"
        ></app-job-item>
      </div>
    </div>
  </body>
</html>
