<!-- <mat-tab-group (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Employer"></mat-tab>
  <mat-tab label="Job Seekers"></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet> -->



<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" [mode]="'side'" [opened]="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/admin/emp-dashboard']">Employer</mat-list-item>
      <mat-list-item [routerLink]="['/admin/jobseeker-dashboard']">Job Seekers</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

